# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are


1.python

2.Sql

3.c++

4.R

etc...

Some of the commonly used libraries used by Data Scientists include

1.NumPy

2.pandas

3.matplotlib

4.Seaborn

5.scikit-learn

6.TensorFlow

7.PyTorch

8.Keras

9.SciPy

10.statsmodels

|Data Science Tools|
|---|
|Tensor flow|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives__

*how to provide a comments

*List to well known data set tools

## Author

Lakshami holla